{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! If we have a tag cover, display that - else blog cover - else nothing }}

<header class="main-header">
  <h1>
    <a href="{{@blog.url}}">{{@blog.title}}</a> · Error 404
  </h1>
  <h2>{{@blog.description}}</h2>
</header>

{{! The main content area on the homepage }}
<main class="content error" role="main">
    <article class="post">

        <h1 class="post-title">L'albatros</h1>
        <p>Souvent, pour s’amuser, les hommes d’équipage</p>
	<p>Prennent des albatros, vastes oiseaux des mers,</p>
	<p>Qui suivent, indolents compagnons de voyage,</p>
	<p>Le navire glissant sur les gouffres amers.</p>
	<br>
	<p>A peine les ont-ils déposés sur les planches,</p>
	<p>Que ces rois de l’azur, maladroits et honteux,</p>
	<p>Laissent piteusement leurs grandes ailes blanches</p>
	<p>Comme des avirons traîner à côté d’eux.</p>
	<br>
	<p>Ce voyageur ailé, comme il est gauche et veule !</p>
	<p>Lui, naguère si beau, qu’il est comique et laid !</p>
	<p>L’un agace son bec avec un brûle-gueule,</p>
	<p>L’autre mime, en boitant, l’infirme qui volait !</p>
	<br>
	<p>Le Poëte est semblable au prince des nuées</p>
	<p>Qui hante la tempête et se rit de l’archer ;</p>
	<p>Exilé sur le sol au milieu des huées,</p>
        <p>Ses ailes de géant l’empêchent de marcher.</p>

<br>
<p style="text-align: right">Charles Beaudelaire.</p>

    </article>
</main>
